.prod_col{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.prod_col > *{
    margin-top: 2.5%;
}
.prod_col h1{
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-right: 10px;
}
.prod_dur{
    display: flex;
    width: 100%;
}
.prod_dur button{
    color: white;
    width: max-content;
    padding: 1.5% 1.5%;
    margin: auto 2.5%;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #ffffff15;
    font-size: 14px;
}
.prod_dur button:active, .prod_dur button:hover{
    border-color: gold;
}
.prod_price{
    display: flex;
    width: 100%;
    color: gold;
    font-size: 14px;
}
.prod_btn{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.prod_btn button{
    color: white;
    padding: 1.5% 7.5%;
    width: 90%;
    margin: 2.5% auto;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #ffffff15;
    font-size: 16px;
}
.prod_desc{
    font-size: 12px;
    font-weight: lighter;
}
.cardBig_name {
    font-size: 23px;
    width: 90%;
    margin: auto;
}
.cardBig {
    display: flex;
    flex-direction: column;
    color: white;
    background: transparent linear-gradient(155deg, #ffffff31 0%, #ffffff00 100%) 0% 0%
        no-repeat padding-box;
    padding: 3% 0 3% 0;
    margin: 10vh 20px 4.9vh 20px;
    border-radius: 5px;
    border: thin solid rgba(255, 255, 255, 0.04);
}
.cardBig_hero {
    display: flex;
    flex-direction: column;
}
.herodiv_img {
    width: 90%;
    margin: auto;
    overflow: visible;
}
.herodiv_img > div {
    overflow: visible !important;
    width: 100%;
}
.herodiv_img img {
    max-height: 20vh;
    width: 100%;
    top: -60% !important;
}

@media (min-width: 768px) {
    .prod_col{
        width: 70%;
        margin-left: 5%;
        padding-top: 5%;
    }
    .prod_btn{
        flex-direction: row;
        width: 80%;
    }
    .prod_btn button{
        color: white;
        padding: 1.5% 2.5%;
        margin-right: 5%;
        background: transparent;
        border-radius: 5px;
        border: 2px solid #ffffff50;
        font-size: 14px;
    }
    .cardBig {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 90%;
        margin: 5% auto;
    }
    .cardBig_hero {
        display: flex;
        flex-direction: column-reverse;
        width: 25%;
        max-height: 350px;
    }
    .herodiv_img {
        width: 100%;
    }
    .herodiv_img img {
        border-radius: 5px;
        width: 30vh !important;
        height: 30vh !important;
        max-height: 30vh;
        top: 0 !important;
        left: -30% !important;
    }
   
}